@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
   box-sizing: border-box;
}

body {
   margin: 0px;
}

.login-wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   width: 380px;
   height: min-content; /* dynamic height, changes as required */
   padding: 48px 24px;
   border: 1px solid #d8d8d8;
   border-radius: 16px;
}

.login-title,
.login-input,
.login-label,
.login-btn {
   font-family: "Raleway", sans-serif;
}

.login-title {
   align-self: center;
   font-size: 28px;
}

.login-field {
   display: flex;
   flex-direction: column;
   position: relative;
}

.login-label {
   position: absolute;
   top: 12px;
   left: 12px;
   font-size: 18px;
   color: #4a4a4a;
   transition: top 0.1s, font 0.1s, color 0.1s;
}

.login-input {
   padding: 12px 12px;
   font-size: 18px;
   border: 1px solid #d8d8d8;
   border-radius: 4px;
}

.login-input:focus {
   outline: none;
   border: 2px solid #4285f4;
}

/* when login-input is on focus, animate login-label */
.login-input:focus + .login-label {
   top: -12px;
   font-size: 12px;
   padding: 4px;
   background: white;
   color: #4285f4;
}

/* when user has entered something
in login-input, login-label must stay at top */
.login-input:not(:placeholder-shown):not(:focus) + .login-label {
   top: -12px;
   font-size: 12px;
   padding: 4px;
   background: white;
   color: #4a4a4a;
}

.login-btn {
   align-self: center;
   padding: 10px 16px;
   font-size: 16px;
   background: #4285f4;
   color: #fff;
   border: 0px;
   border-radius: 6px;
   cursor: pointer;
}

.login-btn:hover {
   background: #0e53c3;
   box-shadow: 0px 0px 1px #000;
}

.login-btn:focus {
   outline: #0e53c3 solid 3px;
}

.login-btn:disabled {
   opacity: 0.5;
}

.register-link {
   align-self: center;
   font-family: "Raleway", sans-serif;
}
