.home-main {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   background-image: url("../../public/secondary-bg.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.file-list-wrapper {
   position: relative;
   left: -40px; /*hardcoded*/
   height: 80vh;
   margin-top: 5vh;

}

.file-heading {
   color: black;
   font-family: "Raleway", sans-serif;
   font-size: 28px;
   text-align: center;
   margin-bottom: 4px;
}

.list-wrapper {
   height: 66vh;
   overflow-y: scroll;
}

.list {
   padding: 0px 8px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.list-element {
   list-style-type: none;
   width: 850px;
   height: 60px;
   background: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid gray;
   border-radius: 10px;
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   padding: 0px 12px;
   text-decoration: none;
   color: black;
}

.list-element:hover {
   background: #fff2e9;
}

.add-file-btn {
   position: relative;
   left: -40px;
   background: #4081ec;
   color: white;
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   padding: 12px;
   border: none;
   border-radius: 8px ;
   cursor: pointer;
}

.add-file-btn:hover {
   font-size: larger;
}

.logout-btn {
   position: absolute;
   top: 20px;
   right: 20px;
   background: #4081ec;
   color: white;
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   padding: 12px;
   border: none;
   border-radius: 8px ;
   cursor: pointer;
}

.logout-btn:hover {
   font-size: larger;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   background: transparent !important;
}

::-webkit-scrollbar-thumb {
   background: #E47369;
   border-radius: 24px;
}
