.home-main {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.file-heading {
   color: white;
   font-family: "Raleway", sans-serif;
   font-size: 24px;
   text-align: center;
}

.list {
   padding: 0px 8px;
   border-radius: 50px;
}

.list-element {
   list-style-type: none;
   width: 750px;
   height: 60px;
   background: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid grey;
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   padding: 0px 12px;
   text-decoration: none;
   color: black;
}

.list-element:hover {
   background: rgb(224, 247, 255);
}

.file-list-wrapper {
   height: 75vh;
   margin-top: 10vh;
   background-color: #4081ec;
   overflow-y: scroll;
}

.add-file-btn {
   background: #4081ec;
   color: white;
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   padding: 12px;
   border: none;
}

.add-file-btn:hover {
   font-size: larger;
}

.add-file-btn:active {
   font-size: smaller;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   background: transparent !important;
}

::-webkit-scrollbar-thumb {
   background: black;
}
